<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja Gold</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app_Ninja/css/styles.css' %}">
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <h1>Your ninja needs some gold...</h1>
            <p>Find some!</p>
            <div class="gold-counter">
                <h3>Your Gold:</h3>
                <!-- Need to fill in the variable -->
                <p>{{gold}}</p>
                <h4>You need {{goal}} gold to win</h4>
                <h4>You have {{turns_left}} turns left</h4>

            </div>
        </div>
        <div class="main">
            <div class="row">
                <div class="column">
                    <h2>Farm</h2>
                    <p>(Earns 10-20 Gold)</p>
                    <a href="/process_money/farm" class="button">Find Gold!</a>
                </div>
                <div class="column">
                    <h2>Cave</h2>
                    <p>(Earns 5-10 Gold)</p>
                    <a href="/process_money/cave" class="button">Find Gold!</a>
                </div>
                <div class="column">
                    <h2>House</h2>
                    <p>(Earns 2-5 Gold)</p>
                    <a href="/process_money/house" class="button">Find Gold!</a>
                </div>
                <div class="column">
                    <h2>Casino</h2>
                    <p>(Earn/Lose 0-50 Gold)</p>
                    <a href="/process_money/casino" class="button">Find Gold!</a>
                </div>
                <!-- three more columns will go here -->
            </div>
            {% if won_lost == 'won' %}
            <div class="endgame won">
                <div class="movedown">
                    <h1>You {{won_lost}}!</h1>
                    <a href="/process_money/clear" class="button">Start Over!</a>
                </div>
            </div>
            {% elif won_lost == 'lost' %}
            <div class="endgame lost">
                <div class="movedown">
                    <h1>You {{won_lost}}!</h1>
                    <a href="/process_money/clear" class="button">Start Over!</a>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="activity">
            <ul>
                {% if list_len > 0 %}
                {% for line in activity %}
                <li class="{{ line.color }}">Your ninja {{ line.win_lose }} {{ line.amount }} gold at
                    {{ line.time }}</li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
</body>

</html>