* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

    body {
    margin: auto;
    width: 1220px;
}

.header {
    height: 100px;
    background-color: darkgray;
    margin-bottom: 50px;
}

.header-item {
    display: inline-block;
}

.titles {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-gap: 10px;
}

.title {
    background-color: lightseagreen;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
}

.game {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-gap: 10px;
}

.container {
    background-color: seagreen;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
    height: 300px;
    width: 400px;
}