<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cats</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="header">
        <h1>Cats</h1>
        <div class="right">
            <a href="/">Home</a>
        </div>
    </div>
    <div class="main">
        <div class="display">
            <h1><%= cat['name'] %></h1>
            <img src="/images/cat<%= cat['id'] %>.gif" alt="the cat">
            <p>Age: <%= cat['age'] %></p>
            <p>Favorite Foods: </p>
            <ul>
            <% for (let food of cat['fav_food']) { %>
                <li><%= food %></li>
            <% } %>
            </ul>

        </div>

    </div>
</body>
</html>