<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="header">
        <h1>Cars and Cats</h1>
    </div>
    <div class="main">
        <div class="col-2">
            <% for (let type of pages) {%>
            <div class="col">
                <a href="/<%= type %>"><span class="big"><%= type %></span></a>
            </div>
            <% } %>
        </div>
    </div>
</body>
</html>