<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>
    <div class="header">
        <h1>{{ title }}</h1>
    </div>
    <div class="new">
        <h2>New Task</h2>
        <div class="form">
            <form (submit)="on_submit()">
                <p>{{ new_task | json }}</p>
                <div class="column">
                    <div class="row">
                        <label for="new_task.title">Title:</label>
                        <input type="text" name="new_task.title" [(ngModel)]="new_task.title">
                    </div>
                    <div class="row">
                        <label for="new_task.description">Description</label>
                        <input type="text" name="new_task.description" [(ngModel)]="new_task.description">
                    </div>
                </div>
                <div class="column">
                    <div class="row">
                        <button type="submit">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="main">
        <div class="column list">
            <H2>Task List</H2>
            <div class="task" *ngFor="let task of tasks">
                <div class="task-column">
                    <h3>{{task.title}}</h3>
                    <p>{{task.description}}</p>
                </div>
                <div class="task-column rowed">
                    <button class="button-1" (click)=display_task(task._id)>Edit</button>
                    <button class="button-2" (click)=delete_a_task(task._id)>Delete</button>
                </div>

            </div>
        </div>
        <div class="column edit">
            <h2>Edit a task</h2>
            <div class="form">
                <form (submit)="on_update()">
                    <div class="row">
                        <label for="one_task.title">Title</label>
                        <input type="text" name="one_task.title" [(ngModel)]="one_task.title">
                    </div>
                    <div class="row">
                        <label for="one_task.description">Description</label>
                        <input type="text" name="one_task.description" [(ngModel)]="one_task.description">
                    </div>
                    <input type="hidden" name="id" [(ngModel)]="one_task.id">
                </form>
                <button type="submit">Edit</button>
            </div>

        </div>
    </div>
</body>
</html>
