<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="header">
        <h1>Cars</h1>  
        <div class="right">
            <a href="/cars/new">Add a new car</a>
        </div>
    </div>
    <div class="main-3">
        <h2>Cars are...</h2>
        <div class="col-3">
            <p>placeholder</p>
            <img src="/images/old_car1" alt="old car picture">        
        </div>
        <div class="col-3">
            <p>placeholder</p>
            <img src="/images/old_car2" alt="old car picture">        
        </div>
        <div class="col-3">
            <p>placeholder</p>
            <img src="/images/old_car3" alt="old car picture">        
        </div>
    </div>
</body>
</html>