<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Beaver Dashboard</title>
</head>
<body>
    <div class="header">
        <h1>Look at this Beaver</h1>
        <div class="right">
            <a href="/beavers/new">Create a Beaver</a>
            <a href="/">Home</a>
        </div>
    </div>
    <div class="main">
        <h3><%= beaver.name %></h3>
        <p>Tail Length: <%= beaver.tail %> inches</p>
        <p>Dam maintained: <%= beaver.dam %></p>
    </div>