<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'poorly_coded_store/css/index_styles.css' %}">
</head>
<body>
    <div class="page-header orange">
        <h1>Amadon Store!<h1>
    </div>    
    <div class="bg-dark text-light">    
        <h3>Thank you for your business!</h3>
        <p>We charged your credit card for ${{ total_recent_order }}</p>
        <p>You have ordered {{ total_items_ordered }} items so far and spent ${{ total_amount_all }} with Amadon.com!</p>
        <p><a href="/">Go Back</a></p>
    </div>
</body>
</html>